.oa-receive{
    position: relative;
    overflow: hidden;
    
}
.oa-receive-right{
    padding-top: 73px;
    padding-bottom: 20px;
    width: 230px;
    position: fixed;
    right: 35px;
    top: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    height: 100%;
}
.oa-receive-right.active{
    padding-top: 20px;
}
.dialog-group{
    height: 100%;
    position: relative;
    overflow: hidden;
}
.interacts-bd{
    font-size: 16px;
    color:#22262a;
    padding-bottom:20px;
    border-bottom:1px solid #e6e6ed;
}
.interacts-record{
    height: 100%;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    padding-bottom: 130px;
}
.interacts-record .more{
    text-align: center;
    display: block;
    border-bottom: 1px solid #e6e6ed;
    line-height: 39px;
    color: #008cd6;
}
.interacts-record .more:hover{
    color:#3593c5;
}
.comment-box{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
}
/* .interacts-list{
    width: 100%;
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
} */
.interacts-list li{
    border-bottom:1px solid #e6e6ed;
    padding: 18px 0;
}
.interacts-list li:hover{
    background: #f0f8fd;
}
.interacts-list .user{
    margin-bottom:12px;
}
.interacts-list .user h4{
    color:#22262a;
    font-size: 14px;
    float:left;
} 
.interacts-list .user span{
    font-size: 12px;
    color:#ccc;
    float:right;
    margin-top: 3px;
}
.interacts-list li p{
    font-size: 12px;
    color:#666;
    text-align: justify;
}
.oa-receive-right .oa-form-input{
    display: inline-table;
    position: absolute;
    bottom: 0;
    left: 0;
}
.oa-form-input input{
    height: 28px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    display: table-cell;
    border-radius:2px  0 0 2px;
    border-right:0;
    width: 150px;
    vertical-align: middle;
}
.oa-form-input .input-addon{
    border: 0;
    padding: 12px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    display: table-cell;
    background:#008cd6;
    cursor:pointer;
    border-radius: 0 2px 2px 0;
    vertical-align: middle;
}

.oa-receive-left{
    padding-right: 250px;
    overflow: hidden;
}
.oa-receive-list{
    padding:20px;
    background: #f7f9fa;
    margin-bottom: 18px;
}
.oa-receive-list li{
    font-size: 14px;
}
.oa-receive-list li + li{
    margin-top:10px;
}
.oa-receive-list li strong{
    font-weight: normal;
    color:#666;
    display: inline;
    /* vertical-align: middle; */
}
.oa-receive-list li p{
    display: inline;
    color:#22262a;
    vertical-align: middle;
}
.oa-receive-list li .star{
    width: 16px;
    height: 16px;
    background: url(../images/star-icon01.png) no-repeat;
    display: inline-block;
    vertical-align: middle;
    float:right;
    border:0;
    cursor:pointer;
}
.oa-receive-list li .star.active{
    background-image: url(../images/star-icon02.png)
}
.oa-import-content{
    min-height: 260px;
    max-height:900px;
    text-align: justify;
    overflow: hidden;
    overflow: auto;
    padding-left: 20px;
    margin-bottom: 20px;
}
.oa-receive-table{
    margin-bottom:20px;
}
.oa-receive-table .table-title{
    font-size: 16px;
    padding: 20px;
    background: #f7f9fa;
}
.oa-receive-table .title-left{
    color: #22262a;
    background: url(../images/accessory-icon2.png) no-repeat left center;
    padding-left: 24px;
    float: left;
}
.oa-receive-table .title-obj{
    background-image: url(../images/icon-obj.png);
    
}
.oa-receive-table .title-right{
    float:right;
}
.oa-receive-table .title-right span{
    color:#008cd6;
    background-repeat: no-repeat;
    background-position: right center;
    padding-right:24px;
    font-size: 16px;
    cursor: pointer;
    margin-left:30px;
    
}
.oa-receive-table .title-right .annex-up{
    background-image: url(../images/icon-up.png);
}
.oa-receive-table .title-right .annex-down{
    background-image: url(../images/icon-down.png);
}
.oa-receive-table .title-right .annex-dele{
    background-image: url(../images/icon-dele.png);
}
.oa-receive-table .title-right .annex-add{
    background-image: url(../images/icon-add.png);
}
.oa-receive-table .table-box{
    position: relative;
    padding: 0 10px;
    border:1px solid #e6e6ed;
    border-top:0;
}
.oa-receive-table .attachment-box{
    max-height: 680px;
    /* overflow: hidden; */
    overflow: auto;
}
.oa-receive-table .layui-table-header{
    border-width:0;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 9;
    padding: 0 10px;
    box-sizing: border-box;
    background: #fff;
}
.oa-receive-table .layui-table-body{
    margin-right: 0;
    max-height: 215px;
    /* padding: 43px 0; */
    overflow: hidden;
    overflow-y: auto;
    margin-bottom: 0;
}
.obj-table-footer-height{
    height: 40px;
}
.oa-receive-table .layui-table-body table{
    margin-top:0;
}
.oa-receive-table .layui-table-page{
    position: absolute;
    bottom: 0;
    left: 0;
    box-sizing: border-box;
    z-index: 9;
    background: #fff;
    padding:8px 10px 0;
    text-align: right;
    border-bottom: 1px solid #e6e6ed;
}
.oa-receive-table .layui-laypage .layui-laypage-curr .layui-laypage-em,
.oa-receive-table .layui-table-page .layui-laypage button:hover{
    background-color: #008cd6;
    color:#fff;
}
.layui-laypage-em
.oa-receive-table .layui-table{
    margin:0;
}
.oa-receive-table .layui-table .tab-icon{
    width: 15px;
    height: 15px;
    background-repeat: no-repeat;
    background-position: center center;
    display: inline-block;
    margin-left:10px;
    cursor: pointer;
    vertical-align: middle;
    font-size: 0;
    line-height: 0;
    border: 0;
    background: transparent;
}
.oa-receive-table .layui-table .tab-icon img{
    height: 100%;
    width: 100%;
}
.oa-receive-table .layui-form-checkbox[lay-skin=primary] i{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.oa-receive-table .layui-table thead tr{
    background: #fff;
}
.oa-receive-table .layui-table tbody tr:hover{
    background-color:#f0f8fd;
}
.oa-receive-table .layui-table td, 
.oa-receive-table .layui-table th{
    padding:11px 8px;
    border-top:1px solid #e6e6ed;
}
.oa-receive-table .layui-table th{
    color:#22262a;
    border-top:0;
    font-size: 16px;
}
.oa-receive-table .layui-table td{
    color:#666;
}
.oa-receive-table .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #008cd6;
}
.oa-receive-table .layui-form-checked[lay-skin=primary] i{
    border-color: #008cd6;
    background-color: #008cd6;
}
.btn-all{
    padding-top:15px;
}
.btn-all .layui-btn{
    font-size: 12px;
    color:#666;
    margin-right:10px;
}
.btn-all .layui-btn:hover{
    border-color: #008cd6;
    background-color: #008cd6;
    color:#fff;
}
