html,body{
    min-height: 100%;
}
.layui-btn{
    height: 32px;
    line-height: 32px;
}
.layui-input, .layui-textarea{
    font-size: 12px;
}
.layui-form-checkbox[lay-skin=primary] i{
    width: 12px;
    height: 12px;
    line-height: 13px;
}
.topcolor{
    background-color: #657081 !important;
}
.topcolor,
.topcolor .layui-logo,
.topcolor .layui-nav .layui-nav-item{
    height: 50px;
    line-height: 50px;
}
#contentcontainer .side-bar-left{
    top:50px;
    width: 220px;
    background-color: #3f526d !important;
}
#contentcontainer .side-bar-left .layui-nav-tree{
    width: 100%;
    background-color: #3f526d !important;
}
.side-bar-right.layui-body{
    top:0;
    bottom:0;
    left: 0;
}
.layui-body .content-body{
    padding: 0 20px 20px;
    background: #fff;
}
.layui-body .content-body h1.title{
    margin: 0 -20px;
    padding: 0 20px;
    font-size: 14px;
    color: #22262a;
    height: 46px;
    line-height: 46px;
    background: #f5f6f7;
    min-width: 815px;
    margin-bottom: 20px;
    font-weight: bold;
}
.contact-tree{
    margin: 5px 0;
}
.contact-tree .tree-branch{
    font-size: 12px;
    position: relative;
    padding: 0 2px;
    line-height: 30px;
    cursor: pointer;
}
/* .contact-tree .tree-branch.active, */
.contact-tree .tree-branch:hover{
    background: #f0f8fd;
}
.contact-tree .tree-box .tree-branch{
    color:#666;
}
.contact-tree .tree-branch .tree-icon{
    float: left;
    margin-top: 9px;
    margin-right: 10px;
}
.contact-tree .tree-branch .icon-down{
    display: none;
}
.contact-tree .tree-branch.cur .icon-down{
    display: block;
}
.contact-tree .tree-branch.cur .icon-up{
    display: none;
}

.contact-tree .tree-box{
    margin-left:20px;
}

.layui-layer .layui-layer-wrap{
    height: 100%;
}
.layui-layer.layui-dialog{border-radius: 8px;}
.layui-layer .layui-dialog{
    border-radius: 8px;
}
.layui-dialog .layui-layer-title{
    border-radius: 8px 8px 0 0;
    background-color: #f5f6f7;
}
.layui-dialog-content{
    width: 500px;
    height: 130px;
    border-radius: 8px;
    box-sizing: border-box;
    padding:10px;
}
.layui-dialog .layui-layer-input{
    width: 100%;
    height: 100%;
    border: 0;
    resize: none;
    padding: 10px;
    box-sizing: border-box;
}
.layui-dialog .exclamation{
    margin-top: 12px;
    display: inline-block;
    font-size:12px;
    color:#666666;
    padding-left: 22px;
    margin-right: 5px;
    overflow-y: auto;
    background: url(../images/exclamation-icon.png) no-repeat left center;
}
.layui-dialog .layui-layer-btn0{
    position: relative;
}
.layui-dialog .layui-layer-btn0::before{
    content:'点击确认后，即传阅确认';
    position: absolute;
    left: -165px;
    top: 0;
    font-size:12px;
    cursor: auto;
    color:#666666;
    padding-left: 22px;
    margin-right: 5px;
    background: url(../images/exclamation-icon.png) no-repeat left 7px;
}
.dialog-contacts{
    border-radius: 8px !important;
    max-width: 900px;
    max-height: 715px;
}
.dialog-contacts .layui-layer-title{
    border-radius: 8px 8px 0 0;
    background: #3f526d;
    color:#fff;
}
.dialog-contacts .layui-layer-content{
    padding:20px 20px 0 20px;
    box-sizing: border-box;
}
.dialog-contacts .layui-layer-content h5{
    font-size: 14px;
    color:#22262a;
    font-weight: bold;
    height: 7%;
}
.dialog-contacts .layui-layer-content h5 p{
    display: inline-block;
    font-size: 12px;
    font-weight: normal;
    margin-left: 10px;
    color: #ff3838;
    vertical-align: bottom;
}
.dialog-contacts .layui-layer-content h5 p i{
    font-size: 14px;
    margin-right: 3px;
}
.dialog-contacts .layer{
    border:1px solid #e6e6ed;
    border-radius: 4px;
    height: 93%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dialog-contacts .contacts-nav{
    background:#f7f9fa;
    border-bottom: 1px solid #e6e6ed;
    height: 35px;
}
.dialog-contacts .contacts-nav li{
    width: 80px;
    line-height:36px;
    border-right: 1px solid #e6e6ed;
    float: left;
    text-align: center;
    color:#666666;
    font-size: 12px;
    cursor: pointer;
}
.dialog-contacts .contacts-nav li.active{
    background: #fff;
    border-bottom: transparent;
    font-size: 12px;
    color:#008cd6;
}
.dialog-contacts .oa-form-input input {
    height: 32px;
    padding: 4px 12px;
    font-size: 12px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    display: table-cell;
    border-radius: 2px 0 0 2px;
    /*border-right: 0;*/
    width: 150px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
}
.dialog-contacts .oa-form-input .input-addon {
    border: 0;
    padding: 10px 12px;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    display: table-cell;
    background: #008cd6;
    cursor: pointer;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    vertical-align: middle;
    width: 80px;
    white-space:nowrap;
}
.dialog-contacts .contacts-box{
    padding:15px 20px 20px;
    height: 93%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.dialog-contacts .contacts-box-l{
    width: 50%;
    height: 100%;
    float:left;
}
.dialog-contacts .oa-form-input{
    display: inline-table;
    position: static;
    width: 100%;
    margin-bottom: 6px;
}
.dialog-contacts .oa-form-input input{
    width: 100%;
}
.dialog-contacts .contacts-context{
    border:1px solid #e6e6ed;
    height: 90%;
}
.dialog-contacts .contacts-box-c{
    width:8%;
    float:left;
    height: 100%;
    display: table;
}
.dialog-contacts .contacts-box-c .image-icon{
    display: table-cell;
    vertical-align: middle;
    padding: 0 5px;
    text-align: center;
}
.dialog-contacts .contacts-box-c .image-icon .arr-icon{
    margin: 5px 0;
    cursor:pointer;
}
.dialog-contacts .contacts-box-c .image-icon .arr-icon img{
    max-width: 100%;
}
.dialog-contacts .contacts-box-c .image-icon .single{
    margin-bottom: 24px;
}
.dialog-contacts .contacts-box-c .image-icon .hover{
    display: none;
}
.dialog-contacts .contacts-box-c .image-icon .arr-icon.active .initial{
    display: none;
}
.dialog-contacts .contacts-box-c .image-icon .arr-icon.active .hover{
    display: inline-block;;
}
.dialog-contacts .contacts-box-r{
    width: 42%;
    float:left;
    height: 100%;
}
.dialog-contacts .contacts-box-r .oa-form-input input{
    background: #fff url(../images/search-icon.png) no-repeat 10px center;
    padding-left:38px;
}
.dialog-contacts .layui-layer-btn a{
    height: 30px;
    line-height: 30px;
    margin:0 10px;
}
.dialog-contacts .layui-layer-btn .layui-layer-btn1{
    border-color:#ff5151;
    color:#ff5151;
}
.dialog-contacts .contacts-table-outer{
    height: 100%;
    overflow: auto;
    width: 100%;
}
.dialog-contacts .contacts-table{
    width: 100%;
}
.dialog-contacts .contacts-table tbody tr{
    cursor: pointer;
}
.dialog-contacts .contacts-table tbody tr.active,
.dialog-contacts .contacts-table tbody tr:hover{
    background: #f0f8fd;
}
.dialog-contacts .contacts-table td{
    width: 50%;
    padding: 8px;
    box-sizing: border-box;
    font-size: 12px;
}
.dialog-contacts .contacts-table td .layui-icon-home,
.dialog-contacts .contacts-table td .layui-icon-file{
    font-size: 20px;
}
.dialog-contacts .contacts-table td input[name="contacts-choice"]{
    display: none;
}
.dialog-contacts .contact-tree{
    padding: 0 5px;
}
.dialog-contacts .contact-tree .tree-branch.active{
    background: #f0f8fd;
}
.page-layout .item-box{
    float: right;
    margin-top: 10px;
    vertical-align: middle;
    font-size: 12px;
    color: #999999;
}
.page-layout #paging{
    margin-right: 11px;
    float: right;
}
.page-layout .item-box .layui-form-select{
    width: 70px;
    margin-right:0;
    margin-left: 8px;
    display: inline-block;
    vertical-align: middle;
}
.page-layout .item-box .layui-input{
    height: 30px;
    line-height: 30px;
}
.page-layout.item-box .layui-form-select dl{
    top: auto;
    bottom: 30px;
}
.page-layout .item-box .layui-form-select dl dd,
.page-layout .item-box .layui-form-select dl dt{
    line-height: 30px;
}