.oa-read-form .layui-form-select{
    display: inline-block;
    width: 110px;
    vertical-align: middle;
}
.oa-read-form .oa-form-input{
    display: inline-table;
    position: relative;
    line-height: normal;
    vertical-align: middle;
    margin-right: 17px;
    margin-bottom: 15px;
}

.oa-read-form .oa-form-input input{
    height: 38px;
    padding: 4px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    background-color: #fff;
    background-image: none;
    border: 1px solid #e6e6e6;
    display: table-cell;
    border-radius:2px  0 0 2px;
    /* border-right:0; */
    vertical-align: middle;
}
.oa-read-form .oa-form-search input{
    border-right:0;
    height: 28px;
}
.oa-read-form .input-addon{
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1;
    color: #fff;
    text-align: center;
    display: table-cell;
    background:#008cd6;
    cursor:pointer;
    border-radius: 0 2px 2px 0;
    box-sizing: border-box;
    vertical-align:middle;
}
.oa-read-skip{
    font-size: 12px;
    color:#666;
    float:right;
}
.oa-read-skip:hover{
    border-color:#008cd6;;
}
.oa-read-form .layui-form-select dl dd.layui-this{
    background-color: #1e90ff;
}
.oa-read-table .layui-form-checkbox[lay-skin=primary] i{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.oa-read-table .layui-checkbox-disbaled{
    visibility: hidden;
}
.oa-read-table .layui-form-checkbox[lay-skin=primary]:hover i{
    border-color: #008cd6;
}
.oa-read-table .layui-form-checked[lay-skin=primary] i{
    border-color: #008cd6;
    background-color: #008cd6;
}
.oa-read-table .layui-table{
    table-layout: fixed;
}
.oa-read-table .layui-table tbody tr{
    cursor: pointer;
}
.oa-read-table .layui-table tbody tr:hover{
    background-color:#f0f8fd;
}
.oa-read-table .layui-table td,
.oa-read-table .layui-table th{
    padding:11px 8px;
    border-top:1px solid #e6e6ed;
}
.oa-read-table .layui-table tbody td,
.oa-read-table .layui-table tbody th{
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.oa-read-table .layui-table th{
    background: #fff;
    border-bottom: 2px solid #e6e6ed;
    border-top:0;
    font-size: 16px;
    color:#22262a;
}
.oa-read-table .layui-table .star{
    width: 16px;
    height: 16px;
    background: url(../images/star-icon01.png) no-repeat;
    cursor: pointer;
    display: inline-block;
    vertical-align: middle;
    border: 0;
}
.oa-read-table .layui-table .star:hover,
.oa-read-table .layui-table .star.active{
    background-image: url(../images/star-icon02.png)
}
.oa-read-delete{
    color:#ff1515;
    border-color:#ff1515;
    float:right;
}
.oa-read-delete:hover{
    border-color:#ff1515;
    color:#ff1515;
}
.oa-read-table .layui-laypage .layui-laypage-curr .layui-laypage-em{
    background: #008cd6;
}
.oa-read-table .layui-laypage a:hover{
    color:#008cd6;
}
.oa-read-table .layui-laypage input:focus{
    border-color:#008cd6 !important;
}
.oa-read-table #paging{
    margin-right: 11px;
    float: right;
}
.oa-read-table .layui-laypage button:hover{
    background: #008cd6;
    color:#fff;
}
.oa-read-table .item-box{
    float: right;
    margin-top: 10px;
    vertical-align: middle;
    font-size: 12px;
    color: #999999;
}
.oa-read-table .item-box .layui-form-select{
    width: 70px;
    margin-right:0;
    margin-left: 8px;
}
.oa-read-table .item-box .layui-input{
    height: 30px;
    line-height: 30px;
}
.oa-read-table .item-box .layui-form-select dl{
    top: auto;
    bottom: 30px;
}
.oa-read-table .item-box .layui-form-select dl dd,
.oa-read-table .item-box .layui-form-select dl dt{
    line-height: 30px;
}