@charset "utf-8";
/* CSS Document */

/*=================================
3G应用专区-后台管理系统
dateTime: 2011-08-15
author: Monny Pan
=================================*/


/*------------*/
.main .d_line { float:left; width:798px; height:1px; border-bottom:1px dashed #D2D2D2; overflow:hidden;}
/*------------*/


.main .partwelcom{ float:left; padding:120px 0; text-align:center; width:809px;}
.main .partwelcom h3{ font-size:30px; font-weight:bold; font-family:"黑体", "Arial Black", "宋体"; }


.main .part1 { float:left; width:788px;} 
.main .part1 .title { float:left; width:788px; height:30px; background:url(../images/br_r2.jpg) repeat-x; overflow:hidden;} 
.main .part1 .title .left { float:left;} 
.main .part1 .title .left span { float:left; padding:9px 0px 0px 10px; font-weight:bold; color:#333; white-space:nowrap} 
.main .part1 .title .right { float:right;} 
.main .part1 .cont { float:left; width:788px; padding:10px 0px 10px 0px; overflow:hidden; } 
.main .part1 .cont .a01 { float:left; padding:0px 5px } 
.main .part1 .cont .a02 { float:left; padding:0px 5px } 
.main .part1 .cont .a03 { float:left; padding:0px 5px } 
.main .part1 .cont .a04 { float:left; padding:0px 5px } 
.main .part1 .cont .a05 { float:left; padding:0px 5px } 

.main .part2 { float:left; width:788px;} 
.main .part2 .title { float:left; width:788px; height:30px; background:url(../images/br_r2.jpg) repeat-x; margin-top:10px; display:inline; overflow:hidden;} 
.main .part2 .title .left { float:left;} 
.main .part2 .title .left span { float:left; padding:9px 0px 0px 10px; font-weight:bold; color:#333; white-space:nowrap} 
.main .part2 .title .right { float:right;} 
.main .part2 .cont1 { float:left; width:788px; padding:10px 0px 0px 0px;} 
.main .part2 .cont_result {float:left; width:784px; padding:14px 0px 0px 4px; color:#555;}
.main .part2 .cont_result span { color:red; display:inline-block; margin:0px 2px 0px 2px;}
.main .part2 .cont2 { float:left; width:788px; padding:15px 0px 10px 0px; color:#666;}  
.main .part2 .cont2 table { width:100%; border-left:1px solid #DDDDDD;  border-top:1px solid #DDDDDD;}
.main .part2 .cont2 table th { border-left:1px solid #fff;  border-top:1px solid #fff; border-right:1px solid #DDDDDD;  border-bottom:1px solid #DDDDDD; background:#EEEEEE; line-height:30px; font-weight:normal}
.main .part2 .cont2 table td { border-left:1px solid #fff;  border-top:1px solid #fff; border-right:1px solid #DDDDDD;  border-bottom:1px solid #DDDDDD; padding:5px 10px 5px 10px; line-height:18px; word-break:break-all;}
.main .part2 .cont2 table td a { color:#091E89; display:inline-block; margin:0px 5px;}

.main .part2 .addcat{ float:left; width:788px; padding:15px 0px 10px 0px; font-size:14px;}
.main .part2 .addcat .intxt{ width:320px; height:16px; line-height:16px; padding:3px; }
.main .part2 .addcat td{ padding:5px; }
.main .part2 .addcat span{ margin:0 5px;}

.main .part2 .addapp{ float:left; width:788px; padding:15px 0px 10px 0px; font-size:14px;}
.main .part2 .addapp .intxt{ width:320px; height:16px; line-height:16px; padding:3px; }
.main .part2 .addapp textarea{ font-size:12px; }
.main .part2 .addapp label{ margin-right:10px;}
.main .part2 .addapp input,.main .part2 .addapp select{ margin-right:5px;}
.main .part2 .addapp select{ padding:2px 1px 2px 2px;}
.main .part2 .addapp td{ padding:5px; }
.main .part2 .addapp span{ margin:0 5px;}
.main .part2 .addapp .ifdel span{ margin:0 20px 0 0; }
.main .part2 .addapp .ifdel a{ font-size:12px; color:#0066FF; }


.page_frame { float:left; width:788px; height:40px; *height:50px; padding-top:20px; *padding-top:10px; text-align:right;}


.button { float:none; width:auto; height:23px; background:url(../images/button_bg.jpg) no-repeat left; display:inline-block}
.button a { float:none; width:auto; height:18px; background:url(../images/button_bg.jpg) no-repeat right; color:#333; text-decoration:none; text-align:center; padding:5px 10px 0px 10px; margin:0px 0px 0px 2px; display:inline-block}
.button a:hover { text-decoration:none;}
/*-----------



















