@charset "utf-8";
/* CSS Document */
/* 翻页效果 start */
.page{ height:25px;}
.page .last{background:url(../images/page.gif) 0px -20px no-repeat; color:#333; display:inline; height:20px; line-height:9999px; padding-right:1px; width:59px; display:inline-block;  overflow:hidden; position:relative; _top:-12px; *top:-12px;}
.page .la_off{background:url(../images/page.gif) 0px -100px no-repeat; }
.page .next{ background:url(../images/page.gif) 0px -40px no-repeat; color:#333; display:inline; height:20px; line-height:9999px; margin-right:2px; margin-left:1px; width:59px; display:inline-block; overflow:hidden; position:relative; _top:-12px; *top:-12px;}
.page .ne_off{background:url(../images/page.gif) 0px -120px no-repeat; }
.page .jump{ background:url(../images/page.gif) 0px -80px no-repeat; color:#333; display:inline; height:20px; line-height:9999px; margin-right:2px; margin-left:1px; width:37px; display:inline-block; overflow:hidden; position:relative; _top:-12px; *top:-12px;}
.page span.num { position:relative; top:-5px; _top:2px; *top:2px;}
.page span.num a{  font-size:12px; width:auto; color:#333; display:inline-block;}
.page span.num span{display:inline-block; height:18px; line-height:18px; padding:4px 1px; _padding:2px 1px; color:#333; position:relative; top:0px; *top:5px; _top:4px;}
.page span.right{display:inline; height:22px; overflow:hidden; width:120px;}
.page .right .txt{border:1px solid #7A7A7A; height:19px; line-height:19px; margin:0 3px; text-align:center; width:23px; vertical-align:middle; position:relative; top:-8px; _top:0px; *top:0px;}
.page span.num a:hover,.page span.num a.cur { color:red;}

















