@charset "utf-8";
/* CSS Document */
/*=================================
3G应用专区-后台管理系统
dateTime: 2011-08-15
author: Monny Pan
=================================*/

/*翻页样式 start */
@import url("page_break.css");


/*重写浏览器默认样式 start */
*{margin:0; padding:0; } 
ol,ul,li {list-style:none; margin-left:0; padding-left:0;} 
a {text-decoration:none;}
a:hover {text-decoration:underline;}
img { border:0px;}
.c{clear:both; float:none; height:0; line-height:0; overflow:hidden;}
/*重写浏览器默认样式 end */

/* 整体布局 start */
body{ font-size:12px; color:#333; background:url(../images/bg_body_01.jpg) repeat-x top #fff; font-family:"宋体";}
html {}
#wrapper { width:980px; margin:0px auto;}
.header { float:left; width:980px; height:98px; overflow:hidden;}
.header .left { float:left;}
.header .left span { float:left; padding:25px 0px 0px 16px;}
.header .right { float:right; width:450px; padding:25px 16px 0px 0px;}
.header .right .a01 { float:left; width:450px; text-align:right}
.header .right .a02 { float:left; width:450px; padding-top:19px; text-align:right; color:#666;}
.header .right .a02 a{ display:inline-block; margin-left:10px; font-weight:bold; color:#333;}
.header .right .a02 a img{ display:inline-block; margin-right:5px;}

.box { float:left; width:980px; padding-top:9px; background:url(../images/br_r1.gif) no-repeat top; }
.box .content  { float:left; width:978px; padding:0px; border:1px solid #7897D0; background:url(../images/br_sidebar_r1.jpg) repeat-y left #fff;}
.footer { float:left; width:980px; height:auto; padding:0px 0px 0px 0px; border-top:3px solid #CDD4DE; text-align:center; line-height:22px; color:#E5F2FF}
.footer a { color:#E5F2FF}
/* 整体布局 end */


/* 左边导航 start */
.content .leftsidebar { float:left; width:159px; height:auto; }
.leftsidebar a:hover { text-decoration:none;}
.leftsidebar .c_menu { float:left; width:159px; height:33px; background:url(../images/nav/button_r1.jpg) no-repeat; padding:0px 0px; text-align:center; line-height:34px; color:#677CCF; font-weight:bold; }
.leftsidebar .c_menu a { float:left; width:159px; height:23px; padding:10px 0px 0px 0px; line-height:normal; color:#677CCF; }
.leftsidebar .c_menu a:hover { float:left; width:159px; padding:10px 0px 0px 0px; height:23px; background:url(../images/nav/button_r2.jpg) no-repeat; text-align:center; color:#122490; font-weight:bold; }
.leftsidebar .on { float:left; width:139px; height:33px; background:url(../images/nav/button_r2.jpg) no-repeat; padding:0px 10px; text-align:center; line-height:34px; color:#122490; font-weight:bold; }
.leftsidebar .on a { float:left; width:139px; height:20px; padding:10px 0px 0px 0px; line-height:normal; color:#7F92E1; }



/* 左边导航 end */

/* 内容 start */
.content .main { float:left; width:809px; padding:10px 0px 0px 10px;}
/* 内容 end */



/* 字体色 end */

.color333 { color:#333}
/* 字体色 end */






















