<!--  -->
.window-bord{
	color:#FF0000
}

.icon-add{
	background-image:url(../img/add.png) ! important;
}
.icon-checkin{
	background-image:url(../img/checkin.png) ! important;
}
.icon-reserv{
	background-image:url(../img/reserv.png) ! important;
}
.icon-system{
	background-image:url(../img/system.png) ! important;
}
.icon-logout{
	background-image:url(../img/logout.png) ! important;
}
.icon-stat{
	background-image:url(../img/stat.png) ! important;
}
.icon-minus{
	background-image:url(../img/stat.png) ! important;
}
.icon-delete{
	background-image:url(../img/delete.png) ! important;
}
.icon-edit{
	background-image:url(../img/edit.png) ! important;
}
.icon-redo{
	background-image:url(../img/redo.png) ! important;
}
.icon-undo{
	background-image:url(../img/arrow_undo.png) ! important;
}
.icon-save{
	background-image:url(../img/save.png) ! important;
}
.icon-roomfilter{
	background-image:url(../img/filter.png) ! important;
}
.icon-roomcatalog{
	background-image:url(../img/catalog.png) ! important;
}
.icon-roomfloor{
	background-image:url(../img/floor.png) ! important;
}
.icon-hotel{
	background-image:url(../img/hotel.png) ! important;
}
.icon-manage{
	background-image:url(../img/manage.png) ! important;
}
.icon-group{
	background-image:url(../img/group.png) ! important;
}
.icon-guestinfo{
	background-image:url(../img/guestinfo.png) ! important;
}
.icon-statchart{
	background-image:url(../img/statchart.png) ! important;
}
.icon-center{
	background-image:url(../img/center.png) ! important;
}
.icon-find{
	background-image:url(../img/find.png) ! important;
}
.settings {
    background-image:url( ../img/folder_wrench.png ) !important;
}
.nav {
    background-image:url( ../img/folder_go.png ) !important;
}
.details .x-btn-text {
    background-image: url(../img/details.gif);
}

.icon-details {
    background-image: url(../img/details.gif);
}
.icon-reservin {
    background-image:url( ../img/reservin.png ) !important;
}
.icon-checkininfo {
    background-image:url( ../img/checkininfo.png ) !important;
}
.icon-checkrvinfo {
    background-image:url( ../img/checkrvinfo.png ) !important;
}
.icon-switch {
    background-image:url(../img/switch.png ) !important;
}
.icon-checkout {
    background-image:url( ../img/checkout.png ) !important;
}
.icon-coins {
    background-image:url( ../img/coins.png ) !important;
}
.icon-archive{
    background-image:url( ../img/page.png ) !important;
}
.icon-attendance{
    background-image:url( ../img/gif_47_024.gif ) !important;
}
.icon-memorys{
    background-image:url( ../img/clock_red.png ) !important;
}
.icon-person{
    background-image:url( ../img/user.png) !important;
}
.icon-resource{
    background-image:url( ../img/gif_47_107.gif ) !important;
}
.icon-xls{
    background-image:url( ../img/page_white_excel.png ) !important;
}
.icon-images{
    background-image:url( ../img/images.png ) !important;
}
.icon-contract-alert{
    background-image:url( ../img/script_error.png ) !important;
}
.icon-birthday-week{
    background-image:url( ../img/calendar_view_day.png ) !important;
}
.icon-birthday-month{
    background-image:url( ../img/calendar.png ) !important;
}
.icon-folder-user{
    background-image:url( ../img/folder_user.png ) !important;
}
.icon-retire-user{
    background-image:url( ../img/group_error.png ) !important;
}
.icon-group-gear{
    background-image:url( ../img/group_gear.png ) !important;
}
.icon-page{
    background-image:url( ../img/page.png ) !important;
}
.icon-cancel{
    background-image:url( ../img/cancel.png ) !important;
}
.icon-accept{
    background-image:url( ../img/accept.png ) !important;
}
